{{define "stylesheets"}}
{{end}}

{{define "content"}}
<h2 class="text-center mb-4">Login</h2>
<form id="frm-login">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" required>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" id="btn-login">Login</button>
        <button type="button" class="btn btn-secondary" id="btn-signup">Signup</button>
    </div>
</form>
{{end}}

{{define "scripts"}}
<script>
    const loginForm = document.getElementById("frm-login");
    const signupButton = document.getElementById("btn-signup");

    const emailInput = document.getElementById("email");
    const passwordInput = document.getElementById("password");

    loginForm.addEventListener("submit", (event) => {
        event.preventDefault();

        // Define the URL and data
        var url = "/api/login";
        var data = {
            "email": emailInput.value,
            "password": passwordInput.value,
        };

        // Send the POST request
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((responseData) => {
                console.log("Success:", responseData);
                localStorage.setItem("authToken", responseData.token);
                window.location.href = `/app/explore?sid=${responseData.token}`;
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    });

    signupButton.addEventListener("click", () => {
        window.location.href = "/auth/signup";
    });
</script>
{{end}}