{{define "stylesheets"}}
<style>
    .profile-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
{{end}}

{{define "content"}}
<h1 class="text-center mb-4">Profile</h1>

<form class="profile-form" id="profile-form">
    <div>
        <!-- Affectionate with family -->
        <div class="form-group">
            <label for="affectionateWithFamily" class="form-label">Affectionate with family</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="affectionateWithFamily">
        </div>

        <!-- Good with young children -->
        <div class="form-group">
            <label for="goodWithYoungChildren" class="form-label">Good with young children</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="goodWithYoungChildren">
        </div>

        <!-- Good with other dogs -->
        <div class="form-group">
            <label for="goodWithOtherDogs" class="form-label">Good with other dogs</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="goodWithOtherDogs">
        </div>

        <!-- Shedding level -->
        <div class="form-group">
            <label for="sheddingLevel" class="form-label">Shedding level</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="sheddingLevel">
        </div>

        <!-- Coat grooming frequency -->
        <div class="form-group">
            <label for="coatGroomingFrequency" class="form-label">Coat grooming frequency</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="coatGroomingFrequency">
        </div>

        <!-- Drooling level -->
        <div class="form-group">
            <label for="droolingLevel" class="form-label">Drooling level</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="droolingLevel">
        </div>

        <!-- Coat length -->
        <div class="form-group">
            <label for="coatLength" class="form-label">Coat length</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="coatLength">
        </div>

        <!-- Openness to strangers -->
        <div class="form-group">
            <label for="opennessToStrangers" class="form-label">Openness to strangers</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="opennessToStrangers">
        </div>

        <!-- Playfulness level -->
        <div class="form-group">
            <label for="playfulnessLevel" class="form-label">Playfulness level</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="playfulnessLevel">
        </div>

        <!-- Watchdog/protective nature -->
        <div class="form-group">
            <label for="watchdogProtectiveNature" class="form-label">Watchdog/protective nature</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="watchdogProtectiveNature">
        </div>

        <!-- Adaptability level -->
        <div class="form-group">
            <label for="adaptabilityLevel" class="form-label">Adaptability level</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="adaptabilityLevel">
        </div>

        <!-- Trainability level -->
        <div class="form-group">
            <label for="trainabilityLevel" class="form-label">Trainability level</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="trainabilityLevel">
        </div>

        <!-- Energy level -->
        <div class="form-group">
            <label for="energyLevel" class="form-label">Energy level</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="energyLevel">
        </div>

        <!-- Barking level -->
        <div class="form-group">
            <label for="barkingLevel" class="form-label">Barking level</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="barkingLevel">
        </div>

        <!-- Mental stimulation level -->
        <div class="form-group">
            <label for="mentalStimulationNeeds" class="form-label">Mental stimulation needs</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="mentalStimulationNeeds">
        </div>

        <br>

        <!-- Location -->
        <div class="form-group">
            <label>Where do you live?</label>
            <div>
                <div id="map" style="height:350px; width:480px;"></div>
                <text-area id="lat" hidden></text-area>
                <text-area id="lng" hidden></text-area>
            </div>
        </div>

        <br>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Update profile</button>
</form>
{{end}}

{{define "scripts"}}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
<script>
    const profileForm = document.getElementById("profile-form");

    const options = {
        enableHighAccuracy: true, // Use high accuracy if available
        timeout: 100, // Timeout after 100 milliseconds
        maximumAge: 0 // Do not use a cached position
    };

    let latitude = -26.2056;
    let longitude = 28.0337;

    function renderMap() {
        let map = L.map('map').setView([latitude, longitude], 13);
        let my_divicon = L.divIcon({
            className: 'arrow_box'
        });
        let marker = L.marker([latitude, longitude], {
            draggable: true
        });

        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            'attribution': 'Map data, copyright <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        }
        ).addTo(map);

        function addToTextBox(lt, ln) {
            document.getElementById('lat').innerHTML = lt;
            document.getElementById('lng').innerHTML = ln;
        }

        // adds listener for drag end event
        marker.on('dragend', function (event) {
            let marker = event.target;
            let location = marker.getLatLng();
            let lat = location.lat;
            let lon = location.lng;
            addToTextBox(lat, lon);
        });

        marker.addTo(map);
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Define the URL and data
        var url = "/api/profile";

        fetch(url, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Authorization": authToken
            },
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((responseData) => {
                console.log("Success:", responseData);

                if (responseData.profile.latitude == 0 && responseData.profile.longitude == 0) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            latitude = position.coords.latitude;
                            longitude = position.coords.longitude;
                            console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);
                            renderMap();
                        },
                        (error) => {
                            console.error("Error getting location:", error);
                            renderMap();
                        },
                        options
                    );
                } else {
                    latitude = responseData.profile.latitude;
                    longitude = responseData.profile.longitude;
                    renderMap();
                }

                document.getElementById("affectionateWithFamily").value = responseData.profile.affectionate_with_family;
                document.getElementById("goodWithYoungChildren").value = responseData.profile.good_with_young_children;
                document.getElementById("goodWithOtherDogs").value = responseData.profile.good_with_other_dogs;
                document.getElementById("sheddingLevel").value = responseData.profile.shedding_level;
                document.getElementById("coatGroomingFrequency").value = responseData.profile.coat_grooming_frequency;
                document.getElementById("droolingLevel").value = responseData.profile.drooling_level;
                document.getElementById("coatLength").value = responseData.profile.coat_length;
                document.getElementById("opennessToStrangers").value = responseData.profile.openness_to_strangers;
                document.getElementById("playfulnessLevel").value = responseData.profile.playfulness_level;
                document.getElementById("watchdogProtectiveNature").value = responseData.profile.watchdog_protective_nature;
                document.getElementById("adaptabilityLevel").value = responseData.profile.adaptability_level;
                document.getElementById("trainabilityLevel").value = responseData.profile.trainability_level;
                document.getElementById("energyLevel").value = responseData.profile.energy_level;
                document.getElementById("barkingLevel").value = responseData.profile.barking_level;
                document.getElementById("mentalStimulationNeeds").value = responseData.profile.mental_stimulation_needs;
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    });

    profileForm.addEventListener("submit", (event) => {
        event.preventDefault();

        // Define the URL and data
        var url = "/api/profile";
        var data = {
            "affectionate_with_family": parseInt(document.getElementById("affectionateWithFamily").value),
            "good_with_young_children": parseInt(document.getElementById("goodWithYoungChildren").value),
            "good_with_other_dogs": parseInt(document.getElementById("goodWithOtherDogs").value),
            "shedding_level": parseInt(document.getElementById("sheddingLevel").value),
            "coat_grooming_frequency": parseInt(document.getElementById("coatGroomingFrequency").value),
            "drooling_level": parseInt(document.getElementById("droolingLevel").value),
            "coat_length": parseInt(document.getElementById("coatLength").value),
            "openness_to_strangers": parseInt(document.getElementById("opennessToStrangers").value),
            "playfulness_level": parseInt(document.getElementById("playfulnessLevel").value),
            "watchdog_protective_nature": parseInt(document.getElementById("watchdogProtectiveNature").value),
            "adaptability_level": parseInt(document.getElementById("adaptabilityLevel").value),
            "trainability_level": parseInt(document.getElementById("trainabilityLevel").value),
            "energy_level": parseInt(document.getElementById("energyLevel").value),
            "barking_level": parseInt(document.getElementById("barkingLevel").value),
            "mental_stimulation_needs": parseInt(document.getElementById("mentalStimulationNeeds").value),
            "latitude": parseFloat(document.getElementById("lat").textContent),
            "longitude": parseFloat(document.getElementById("lng").textContent)
        };

        console.log(data)

        // Send the POST request
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": authToken
            },
            body: JSON.stringify(data),
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((responseData) => {
                console.log("Success:", responseData);
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    });
</script>
{{end}}