{{define "stylesheets"}}
<style>
    .search-form-container {
        width: 80vw;
    }

    .search-form {
        width: 100%;
    }

    .search-button {
        background-color: #233661;
    }
</style>
{{end}}

{{define "title"}}Search{{end}}

{{define "content"}}
<p class="text-center mb-4">You can search for specific dogs here, by various attributes</p>

<div class="container mt-3 search-form-container">
    <form class="search-form" id="search-form">
        <div class="row g-3 align-items-center search-form">
            <!-- Search Input -->
            <div class="col-md-4">
                <label for="searchInput" class="visually-hidden">Search Keywords</label>
                <input type="text" class="form-control" id="searchInput" placeholder="Enter search keywords">
            </div>

            <!-- Gender Select -->
            <div class="col-md-2">
                <label for="genderSelect" class="visually-hidden">Gender</label>
                <select class="form-select" id="genderSelect">
                    <option selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <!-- Life Stage Select -->
            <div class="col-md-2">
                <label for="lifeStageSelect" class="visually-hidden">Life Stage</label>
                <select class="form-select" id="lifeStageSelect">
                    <option selected>Life Stage</option>
                    <option value="Puppy">Puppy</option>
                    <option value="Adult">Adult</option>
                    <option value="Senior">Senior</option>
                </select>
            </div>

            <!-- Dog Breed Select -->
            <div class="col-md-2">
                <label for="dogBreedSelect" class="visually-hidden">Dog Breed</label>
                <select class="form-select" id="dogBreedSelect">
                    <option selected>Dog Breed</option>
                    {{range .DogBreeds}}
                    <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>

            <!-- Submit -->
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

            <!-- Submit -->
            <div class="col-md-1">
                <button type="button" id="reset" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </form>

    <div id="search-results">

    </div>
</div>
{{end}}

{{define "scripts"}}
<script>
    const searchForm = document.getElementById("search-form");
    const resetButton = document.getElementById("reset");

    searchForm.addEventListener("submit", (event) => {
        event.preventDefault();

        // Define the URL and data
        var url = "/api/search";
        var data = {
            "keywords": document.getElementById("searchInput").value,
        };

        // Handle optional life stage filter
        if (
            document.getElementById("lifeStageSelect").value == "Puppy" ||
            document.getElementById("lifeStageSelect").value == "Adult" ||
            document.getElementById("lifeStageSelect").value == "Senior"
        ) {
            data["life_stage"] = document.getElementById("lifeStageSelect").value;
        }

        // Handle optional gender filter
        if (
            document.getElementById("genderSelect").value == "Male" ||
            document.getElementById("genderSelect").value == "Female"
        ) {
            data["gender"] = document.getElementById("genderSelect").value;
        }

        // Handle optional breed filter
        if (document.getElementById("dogBreedSelect").value != "Dog Breed") {
            data["breed"] = document.getElementById("dogBreedSelect").value;
        }

        console.log(data)

        // Send the POST request
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": authToken
            },
            body: JSON.stringify(data),
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((responseData) => {
                console.log("Success:", responseData);

                // Display the search results
                const searchResults = document.getElementById("search-results");
                searchResults.innerHTML = "";

                responseData.results.forEach((result) => {
                    const spca = responseData.spca_lookup[result.spca_id];

                    const petCard = document.createElement("div");
                    petCard.classList.add("card", "mb-3");

                    const petCardImage = document.createElement("img");
                    petCardImage.classList.add("card-img-top");
                    petCardImage.src = result.image_url;
                    petCardImage.alt = result.name;
                    petCardImage.style.height = "300px";
                    petCard.appendChild(petCardImage);

                    const petCardBody = document.createElement("div");
                    petCardBody.classList.add("card-body");

                    const petCardTitle = document.createElement("h5");
                    petCardTitle.classList.add("card-title");
                    petCardTitle.textContent = result.name;
                    petCardBody.appendChild(petCardTitle);

                    const petCardText = document.createElement("p");
                    petCardText.classList.add("card-text");
                    petCardText.textContent = `${result.life_stage} • ${result.gender}  • ${result.breed} • ${spca.name}`;

                    const petCardAdoptionLink = document.createElement("a");
                    petCardAdoptionLink.href = spca.website.String;
                    petCardAdoptionLink.textContent = "Adopt Me!";

                    petCardBody.appendChild(petCardText);
                    petCardBody.appendChild(petCardAdoptionLink);

                    petCard.appendChild(petCardBody);

                    searchResults.appendChild(petCard);
                });
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    });

    resetButton.addEventListener("click", () => {
        location.reload();
    });
</script>
{{end}}