{{define "stylesheets"}}

{{end}}

{{define "content"}}
<h1 class="text-center mb-4">SPCA Pet Matchmaker</h1>
<h2 class="text-center mb-4">Signup</h2>
<form id="frm-signup">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" required>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" id="btn-login">Signup</button>
        <button type="button" class="btn btn-secondary" id="btn-login">Login</button>
    </div>
</form>
{{end}}

{{define "scripts"}}
<script>
    const signupForm = document.getElementById("frm-signup");
    const loginButton = document.getElementById("btn-login");

    signupForm.addEventListener("submit", (event) => {
        event.preventDefault();

        // Define the URL and data
        var url = "/api/signup";
        var data = { key: "value" };

        // Send the POST request
        fetch(url, {
            method: "POST", // Specify the request method
            headers: {
                "Content-Type": "application/json", // Set the content type
            },
            body: JSON.stringify(data), // Convert the data to JSON
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json(); // Parse the JSON response
            })
            .then((responseData) => {
                console.log("Success:", responseData); // Handle the response data
                window.location.href = "/app/login";
            })
            .catch((error) => {
                console.error("Error:", error); // Handle errors
            });
    });

    loginButton.addEventListener("click", () => {
        window.location.href = "/app/login";
    });
</script>
{{end}}