{{define "stylesheets"}}

{{end}}

{{define "content"}}
<h2 class="text-center mb-4">Signup</h2>
<form id="frm-signup">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" required>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" id="btn-signup">Signup</button>
        <button type="button" class="btn btn-secondary" id="btn-login">Login</button>
    </div>
</form>
{{end}}

{{define "scripts"}}
<script>
    const signupForm = document.getElementById("frm-signup");
    const loginButton = document.getElementById("btn-login");

    const emailInput = document.getElementById("email");
    const passwordInput = document.getElementById("password");

    signupForm.addEventListener("submit", (event) => {
        event.preventDefault();

        // Define the URL and data
        var url = "/api/signup";
        var data = {
            "email": emailInput.value,
            "password": passwordInput.value,
        };

        // Send the POST request
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
            .then((response) => {
                if (!response.ok) {
                    console.Error("Network response was not ok");
                } else {
                    window.location.href = "/auth/login";
                }
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    });

    loginButton.addEventListener("click", () => {
        window.location.href = "/auth/login";
    });
</script>
{{end}}